@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

body {
    background-color: lightgray;
}

#borda, #borda2 {
    border: 1px solid black;
    width: 350px;
    height: 160px;
    margin: 5px;
    background-color: lightslategray;
    border-radius: 5px;
}

p {
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
}

#ivisual, #ipreco, #imudar, #inome, #iparente, #iidade, #sel {
    border: 1px solid black;
    width: 330px;
    height: 25px;
    margin: 5px;
    background-color: white;
    padding-left: 6px;
    text-align: center;
    border-radius: 5px;
}

#ibotao {
    border: 1px solid black;
    width: 330px;
    height: 25px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.432);
    padding-left: 6px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

#isel {
    border: 1px solid black;
    width: 330px;
    height: 25px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}